@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Poppins', sans-serif !important;
	font-size: 16px;
	font-weight: 500;
}

input {
	height: 40px;
	border: 2px solid #3da35d;
	padding-left: 20px;
}

/* input on focus */
input:focus {
	outline: none;
	border: 2px solid #134611;
}

.outlined-btn {
	border: 1px solid #364156;
	color: #364156;
	padding: 10px 20px;
	height: 40px;
	text-transform: uppercase;
}

.contained-btn {
	background-color: #364156;
	color: white;
	padding: 5px 20px;
	height: 40px;
	text-transform: uppercase;
}

.disabled-btn {
	background-color: #c8ceda;
	color: #364156;
	padding: 5px 20px;
	height: 40px;
	text-transform: uppercase;
	opacity: 0.5;
}
